h1 {
  color: whitesmoke;
}
body {
  width: 90%;
  text-align: center;
  background: black;
}

ol:nth-child(odd) {
    background-color: lavender;
}

#pokemonContainer {
  border-radius: .75em;
  height: 25em;
  border: solid black .25em;
  overflow: scroll;
  background: lightgrey;
}

#jsonContainer {
  border-radius: .75em;
  height: 25em;
  border: solid black .25em;
  overflow: scroll;
  background-color: lightyellow;
}
