h1 {
  color: green;
}

body {
  width: 90%;
  text-align: center;
  background: beige;
}

ol:nth-child(odd) {
    background-color: tan;
}

#pokemonContainer {
  border-radius: .75em;
  height: 25em;
  border: solid black .25em;
  overflow: scroll;
}

#jsonContainer {
  border-radius: .75em;
  height: 25em;
  border: solid black .25em;
  overflow: scroll;
}
